 
 body{
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    background: whitesmoke;
 }
.blured{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
my-app{
    position: relative;
}
header{
    padding: 20px;
    background: wheat;
    position: relative;
}
  my-albums>ul{
    margin: 15px;
    padding: 15px;
    background: floralwhite;
    border: solid navajowhite 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.album{
    background: antiquewhite;
    border: navajowhite solid 1px;
    box-sizing: border-box;
    min-width: 250px;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
    .album title{
        text-align: center;
    }
    .album img{
        max-width: 200px;
        max-height: 200px;
    }
.albumTitle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.modal{
    
    border: solid 1px navajowhite;
    background-color: antiquewhite;
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate( -50%, -50%);
}
  .modal>img{
    
    max-width: 500px;
    max-height: 500px;
  }
  #close{
    border: solid 1px navajowhite;
    background-color: antiquewhite;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    padding: 1px;
  }